name: Build images

on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string

jobs:  
  build-amd64:
    name: amd64 image
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Login to registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: true
          provenance: false
          context: "${{ inputs.path }}"
          tags: "ghcr.io/bradenrayhorn/zebra-${{ inputs.path }}:amd64-${{ github.sha }}"
          platforms: linux/amd64

  build-arm64:
    name: arm64 image
    runs-on: ubuntu-24.04-arm
    permissions:
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Login to registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: true
          provenance: false
          context: "${{ inputs.path }}"
          tags: "ghcr.io/bradenrayhorn/zebra-${{ inputs.path }}:arm64-${{ github.sha }}"
          platforms: linux/arm64

  retag:
    name: Push multiarch image
    runs-on: ubuntu-latest
    permissions:
      packages: write
    needs: [build-arm64, build-amd64]
    steps:
      - name: Login to registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Retag
        run: |
          IMAGE=ghcr.io/bradenrayhorn/zebra-${{ inputs.path }}

          docker buildx imagetools create \
            --tag $IMAGE:${{ github.sha }} \
            $IMAGE:amd64-${{ github.sha }} \
            $IMAGE:arm64-${{ github.sha }}
